@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 

.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
  float: right; 
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } 

.rating > input:checked + label:hover, 
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,  selection 
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.st:before {
  font-family: FontAwesome;
  content: "\f005";
}

.half-r:before {
  content: "\f089";
  position: absolute;
  color: #FFD700;
}

.full-r:before {
  font-family: FontAwesome;
  content: "\f005";
  color: #FFD700;
}

.empty-r:before {
  font-family: FontAwesome;
  content: "\f005";
  color: #ddd;
}