<div class="login-page">
  <div class="container jumbotron text-center">
    <h1 class="display-3">hooplife</h1>
  </div>

  <div class="container login text-center mt-5">
    <form #loginForm="ngForm" (ngSubmit)="submit(); loginForm.reset()" class="text-center mb-3">
      <div class="form-row mt-3">
        <span class="col">
          <input #username class="form-control" id="username" name="username" [(ngModel)]="auth.username" placeholder="Username" required>
        </span>
      </div>
      <div class="form-row mt-3">
        <span class="col">
          <input #password class="form-control" type="password" id="password" name="password" [(ngModel)]="auth.password" placeholder="Password" required>
        </span>
      </div>
      <button type="submit" class="btn mt-4" [disabled]="!loginForm.form.valid">Login</button>
    </form>
    <span><a class="mt-5 mr-5" href="#">Forgot your password?</a></span>
    <span><a class="mt-5 ml-5" routerLink="/registration">Create an account</a></span>
  </div>
</div>
