<div class="games-list mt-4">
	<button type="button" class="btn btn-info" [disabled]="allGamesActive" (click)="allGamesToggle()">All Games</button>
	<button type="button" class="btn btn-info" [disabled]="!allGamesActive" (click)="attendingGamesToggle()">Games I'm Attending</button>
  <button type="button" class="btn btn-outline-dark float-right" (click)="openNewGamePage()">NEW GAME</button>
	<hr />
	<div *ngIf="allGamesActive" class="clearfix">
		<div *ngFor="let game of allGames">
			<div class="card w-100">
				<div class="card-body">
						<a [routerLink]="'/dashboard/game/' + game.GameID"><h4>{{game.description}}</h4></a>
						<p>Organizer: <a [routerLink]="'/dashboard/user/' + game.creator_username">{{game.creator_username}}</a></p>
						<!-- <p>{{game.location.address}}</p> -->
						<p>Minimum Rating: {{game.minimum_rank ? game.minimum_rank : 'N/A'}}</p>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="!allGamesActive">
		<div *ngFor="let game of attendingGames">
			<div class="card w-100">
				<div class="card-body">
						<a [routerLink]="'/dashboard/game/' + game.GameID"><h4>{{game.description}}</h4></a>
						<p>Organizer: <a [routerLink]="'/dashboard/user/' + game.creator_username">{{game.creator_username}}</a></p>
						<!-- <p>{{game.location.address}}</p> -->
						<p>Minimum Rating: {{game.minimum_rank ? game.minimum_rank : 'N/A'}}</p>
				</div>
			</div>
		</div>
</div>
