<div class="approve-locations">
	<div class="card w-100">
		<div class="card-header text-center">
			<h4 class="card-title">Pending Locations</h4>
		</div>
		<div class="card-body">
			<div *ngIf="numOfLocations == 0">
				<p>No pending locations</p>
			</div>
			<div *ngIf="numOfLocations > 0">
				<div *ngFor="let location of locations">
					<div class="card w-100">
						<div class="card-body">
							<div class="row">
								<div class="col-md-1">
									<img class="img-fluid" [src]="location.picture_id ? location.picture_id : 'http://via.placeholder.com/100x100'" alt="location image">
								</div>
								<div class="col-md-8">
									<a [routerLink]="'/dashboard/location/' + location.locationID">{{location.description}}</a>
									<p>{{location.address}}</p>
								</div>
								<div class="col-md-3">
									<button type="button" class="btn btn-outline-success float-right ml-1" (click)="approveLocation(location.locationID)">Approve</button>
									<button type="button" class="btn btn-outline-danger float-right ml-1" (click)="denyLocation(location.locationID)">Deny</button>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
